{{#partial "content"}}
<h2>$animal.getName()</h2>

<h4>Endangered: $animal.isEndangered()</h4>
#if($animal.isEndangered())
<h4>Health: $animal.getHealth()</h4>
<h4>Age: $animal.getAge()</h4>


<h2>Sightings</h2>

#if($animal.getSightings().size() > 0)

<ul>
#foreach($sighting in $animal.getSightings())
  <li><a href="/sightings/$sighting.getId()">$sighting.getFormattedDate()</a></li>

</ul>

<h4>No sightings Available</h4>



{{/partial}}